[submodule "maven-parent"]
	path = maven-parent
	url = git@bitbucket.org:ashulman/maven-parent
[submodule "bukkit-parent"]
	path = bukkit-parent
	url = git@bitbucket.org:ashulman/bukkit-parent
[submodule "type-safe-collections"]
	path = type-safe-collections
	url = git@bitbucket.org:ashulman/type-safe-collections
[submodule "mbapi"]
	path = mbapi
	url = git@bitbucket.org:ashulman/mbapi
[submodule "mc-chimera"]
	path = mc-chimera
	url = git@bitbucket.org:ashulman/mc-chimera
[submodule "mc-minerap"]
	path = mc-minerap
	url = git@bitbucket.org:ashulman/mc-minerap
[submodule "pearl-nerf"]
	path = pearl-nerf
	url = git@github.com:MinerAp/pearl-nerf
[submodule "dueler"]
	path = dueler
	url = git@github.com:MinerAp/dueler
[submodule "radio"]
	path = radio
	url = git@github.com:MinerAp/radio
[submodule "block-saver"]
	path = block-saver
	url = git@github.com:MinerAp/block-saver
[submodule "book-dupe"]
	path = book-dupe
	url = git@github.com:MinerAp/book-dupe
[submodule "insight-web"]
	path = insight-web
	url = git@github.com:MinerAp/insight-web
[submodule "insight-jdbc"]
	path = insight-jdbc
	url = git@github.com:MinerAp/insight-jdbc
[submodule "prism"]
	path = prism
	url = git@github.com:MinerAp/Prism
[submodule "insight-api"]
	path = insight-api
	url = git@bitbucket.org:ashulman/insight-api.git
[submodule "insight"]
	path = insight
	url = git@bitbucket.org:ashulman/insight.git
