[submodule "maven-parent"]
	path = maven-parent
	url = https://bitbucket.org/ashulman/maven-parent
[submodule "bukkit-parent"]
	path = bukkit-parent
	url = https://bitbucket.org/ashulman/bukkit-parent
[submodule "type-safe-collections"]
	path = type-safe-collections
	url = https://bitbucket.org/ashulman/type-safe-collections
[submodule "mbapi"]
	path = mbapi
	url = https://bitbucket.org/ashulman/mbapi
[submodule "mc-chimera"]
	path = mc-chimera
	url = https://bitbucket.org/ashulman/mc-chimera
[submodule "mc-minerap"]
	path = mc-minerap
	url = https://bitbucket.org/ashulman/mc-minerap
[submodule "pearl-nerf"]
	path = pearl-nerf
	url = https://github.com/MinerAp/pearl-nerf
[submodule "dueler"]
	path = dueler
	url = https://github.com/MinerAp/dueler
[submodule "radio"]
	path = radio
	url = https://github.com/MinerAp/radio
[submodule "block-saver"]
	path = block-saver
	url = https://github.com/MinerAp/block-saver
[submodule "book-dupe"]
	path = book-dupe
	url = https://github.com/MinerAp/book-dupe
[submodule "insight-web"]
	path = insight-web
	url = https://github.com/MinerAp/insight-web
[submodule "insight-jdbc"]
	path = insight-jdbc
	url = https://github.com/MinerAp/insight-jdbc
[submodule "prism"]
	path = prism
	url = https://github.com/MinerAp/Prism
